body {
    width: 80vw;
    margin: auto;
    display: grid;
    grid-template-columns: [left] 1fr 2fr [right];
    grid-template-rows: repeat(3 1fr);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #023246;
    background-color: #eceaea;
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 40vh;
    background-image: url(img/background.jpg);
    background-size: cover;
}

.photo-properties {
    height: 30vh;
    align-self: center;
    justify-self: center;
    border-radius: 100%;
}

.info {
    color: white;
    align-self: center;
}

h1 {
    margin: 1rem 1.5rem;
    text-transform: uppercase;
    font-size: 2rem;
}

h2 {
    margin: 1rem 1.5rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
    font-size: 1.3rem;
    border-bottom: 3px solid #f0ac2f;
    width: min-content;
}

.text {
    margin: 1rem 1.5rem;
}

section {
    background-color: chocolate;
}
header {
    background-color: chocolate;
    grid-column: left/right;
}

.first-block {
    background-color: #ffffff;
}

.second-block {
    background-color: #f6f6f6;
}

.portfolio {
    background-color: #023246;
    color: #ffffff;
    grid-column: left/right;
}

.works {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    padding: 1.5rem;
}

.example {
    background-color: #073b52;
    height: max-content;
}

.code {
    opacity: 0.8;
    font-size: 0.8rem;
    line-height: 2rem;
}

.func {
    color: #f0ac2f;
    opacity: 1;
}

.codewars-link {
    text-decoration: none;
    color: #f0ac2f;
}

.codewars-link:hover {
    color: #c98e21;
}

ul {
    list-style-type: none;
    padding-left: 1.5rem;
}

li {
margin-top: 0.5rem;
}

.bold-text {
    font-weight: 600;
}

.light-text {
    opacity: 0.5;
}

.contact-link {
    text-decoration: none;
    color: #023246;
}

.contact-link:hover {
    color: #c98e21;
}
