// Colors
$grey: #eceaea;
$light-grey: #f6f6f6;
$white: #ffffff;
$blue: #073b52;
$dark-blue: #023246;
$dark: #031c27;
$dark-opacity: #031c27da;
$yellow: #f0ac2f;
$dark-yellow: #c98e21;
$green: #156646;

// Fonts
$poppins: "Work Sans", sans-serif;

// Font-sizes
$XL: 32px;
$L: 20px;
$M: 16px;
$S: 12px;
